In [1]:
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import requests

In [2]:
page=requests.get("https://www.iplt20.com/stats/2016")

soup=BeautifulSoup(page.text)

In [3]:
columns = []
for i in soup.findAll('th')[:14]:
    columns.append(i.text)

In [4]:
columns

['POS',
 'Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Avg',
 'BF',
 'SR',
 '100',
 '50',
 '4s',
 '6s']

In [5]:
table=[]
for val in soup.findAll('td'):
    table.append(val.text)

In [6]:
Name=[]
matches=[]
innings=[]
notouts=[]
runs=[]
hs=[]
Avge=[]
bf=[]
sr=[]
f=[]
h=[]
fours=[]
sixes=[]

season = []

for val in table[1::14]:
       Name.append(val)
        

for i in table[2::14]:
        matches.append(i)
    
for i in table[3::14]:
       innings.append(i)

for i in table[4::14]:
        notouts.append(i)

for i in table[5::14]:
        runs.append(i)

for i in table[6::14]:
        hs.append(i)

for i in table[7::14]:
        Avge.append(i)

for i in table[8::14]:
        bf.append(i)

for i in table[9::14]:
        sr.append(i)

for i in table[10::14]:
        f.append(i)

for i in table[11::14]:
        h.append(i)

for i in table[12::14]:
        fours.append(i)

for i in table[13::14]:
    if i == ' ':
        sixes.append(np.NaN)
    else:
        sixes.append(i)
        
        season.append(2016)

In [7]:
len(matches)

137

In [8]:
len(innings)

137

In [9]:

len(notouts)

137

In [10]:
len(runs)

137

In [11]:
len(hs)

137

In [12]:
len(Avge)

137

In [13]:
len(bf)

137

In [14]:
len(sr)

136

In [15]:
len(f)

136

In [16]:

len(h)

136

In [17]:
len(fours)

136

In [18]:
len(sixes)

136

In [19]:
df_2016=pd.DataFrame({
    'names':Name[:136],
    'matches':matches[:136],
    'innings':innings[:136],
    'notouts':notouts[:136],
    'runs':runs[:136],
    'balls':bf[:136],
    'high_score':hs[:136],
    'avg':Avge[:136],
    'strike_rate':sr,
    'fours':fours,
    'sixes':sixes,
    'fiftys':f,
    'hundreds':h,
    'season':season
})

In [20]:
df_2016

,names,matches,innings,notouts,runs,balls,high_score,avg,strike_rate,fours,sixes,fiftys,hundreds,season
0,\n\n\n\nVirat Kohli\n\n\n\n,16,16,4,973,640,113,81.08,152.03,83,38,4,7,2016
1,\n\n\n\nDavid Warner\n\n\n,17,17,3,848,560,93,60.57,151.42,88,31,0,9,2016
2,\n\n\n\nAB de Villiers\n\n\n,16,16,3,687,407,129,52.84,168.79,57,37,1,6,2016
3,\n\n\n\nShikhar Dhawan\n\n\n,17,17,4,501,429,82,38.53,116.78,51,8,0,4,2016
4,\n\n\n\nGautam Gambhir\n\n\n,15,15,2,501,411,90,38.53,121.89,54,6,0,5,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,\n\n\nMurugan Ashwin\n\n,10,1,0,0,1,0,0.00,0.00,0,0,0,0,2016
132,\n\n\nShivil Kaushik\n\n,7,2,1,0,1,0,0.00,0.00,0,0,0,0,2016
133,\n\n\n\nSwapnil Singh\n\n\n,1,1,0,0,1,0,0.00,0.00,0,0,0,0,2016
134,\n\n\nAdam Zampa\n\n,5,1,0,0,1,0,0.00,0.00,0,0,0,0,2016
135,\n\n\n\nUnmukt Chand\n\n\n,1,1,0,0,4,0,0.00,0.00,0,0,0,0,2016

In [21]:
df_2016.to_csv('df_2016ipl.csv')