In [1]:
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import requests

In [2]:
page=requests.get("https://www.iplt20.com/stats/2017")

soup=BeautifulSoup(page.text)

In [3]:
columns = []
for i in soup.findAll('th')[:14]:
    columns.append(i.text)

In [4]:
columns

['POS',
 'Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Avg',
 'BF',
 'SR',
 '100',
 '50',
 '4s',
 '6s']

In [5]:
table=[]
for val in soup.findAll('td'):
    table.append(val.text)

In [6]:
Name=[]
matches=[]
innings=[]
notouts=[]
runs=[]
hs=[]
Avge=[]
bf=[]
sr=[]
f=[]
h=[]
fours=[]
sixes=[]

season = []

for val in table[1::14]:
       Name.append(val)
        

for i in table[2::14]:
        matches.append(i)
    
for i in table[3::14]:
       innings.append(i)

for i in table[4::14]:
        notouts.append(i)

for i in table[5::14]:
        runs.append(i)

for i in table[6::14]:
        hs.append(i)

for i in table[7::14]:
        Avge.append(i)

for i in table[8::14]:
        bf.append(i)

for i in table[9::14]:
        sr.append(i)

for i in table[10::14]:
        f.append(i)

for i in table[11::14]:
        h.append(i)

for i in table[12::14]:
        fours.append(i)

for i in table[13::14]:
    if i == ' ':
        sixes.append(np.NaN)
    else:
        sixes.append(i)
        
        season.append(2017)

In [7]:
len(Name)

144

In [8]:
len(matches)

144

In [9]:
len(innings)

144

In [10]:

len(notouts)

144

In [11]:
len(runs)

144

In [12]:
len(bf)

144

In [13]:
len(hs)

144

In [14]:
len(Avge)

144

In [15]:
len(sr)

143

In [16]:
len(fours)

143

In [17]:

len(sixes)

143

In [18]:
len(f)

143

In [19]:
len(h)

143

In [20]:
df_2017=pd.DataFrame({
    'names':Name[:143],
    'matches':matches[:143],
    'innings':innings[:143],
    'notouts':notouts[:143],
    'runs':runs[:143],
    'balls':bf[:143],
    'high_score':hs[:143],
    'avg':Avge[:143],
    'strike_rate':sr,
    'fours':fours,
    'sixes':sixes,
    'fiftys':f,
    'hundreds':h,
    'season':season
})

In [21]:
df_2017

,names,matches,innings,notouts,runs,balls,high_score,avg,strike_rate,fours,sixes,fiftys,hundreds,season
0,\n\n\n\nDavid Warner\n\n\n\n,14,14,3,641,452,126,58.27,141.81,63,26,1,4,2017
1,\n\n\n\nGautam Gambhir\n\n\n,16,16,4,498,389,76,41.50,128.02,61,7,0,4,2017
2,\n\n\n\nShikhar Dhawan\n\n\n,14,14,1,479,376,77,36.84,127.39,53,9,0,3,2017
3,\n\n\nSteve Smith\n\n,15,15,3,472,387,84,39.33,121.96,38,12,0,3,2017
4,\n\n\nSuresh Raina\n\n,14,14,3,442,307,84,40.18,143.97,42,13,0,3,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,\n\n\n\nSiddarth Kaul\n\n\n,10,1,1,0,2,0,0.00,0.00,0,0,0,0,2017
139,\n\n\nMunaf Patel\n\n,2,1,0,0,1,0,0.00,0.00,0,0,0,0,2017
140,\n\n\nAkshdeep Nath\n\n,1,1,0,0,1,0,0.00,0.00,0,0,0,0,2017
141,\n\n\n\nChris Jordan\n\n\n,1,1,0,0,1,0,0.00,0.00,0,0,0,0,2017
142,\n\n\nImran Tahir\n\n,12,1,1,0,2,0,0.00,0.00,0,0,0,0,2017

In [22]:
df_2017.to_csv('df_2017ipl.csv')