In [1]:
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import requests

In [2]:
page=requests.get("https://www.iplt20.com/stats/2015")

soup=BeautifulSoup(page.text)

In [3]:
columns = []
for i in soup.findAll('th')[:14]:
    columns.append(i.text)

In [4]:
columns

['POS',
 'Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Avg',
 'BF',
 'SR',
 '100',
 '50',
 '4s',
 '6s']

In [5]:
table=[]
for val in soup.findAll('td'):
    table.append(val.text)

In [6]:
Name=[]
matches=[]
innings=[]
notouts=[]
runs=[]
hs=[]
Avge=[]
bf=[]
sr=[]
f=[]
h=[]
fours=[]
sixes=[]

season = []

for val in table[1::14]:
       Name.append(val)
        

for i in table[2::14]:
        matches.append(i)
    
for i in table[3::14]:
       innings.append(i)

for i in table[4::14]:
        notouts.append(i)

for i in table[5::14]:
        runs.append(i)

for i in table[6::14]:
        hs.append(i)

for i in table[7::14]:
        Avge.append(i)

for i in table[8::14]:
        bf.append(i)

for i in table[9::14]:
        sr.append(i)

for i in table[10::14]:
        f.append(i)

for i in table[11::14]:
        h.append(i)

for i in table[12::14]:
        fours.append(i)

for i in table[13::14]:
    if i == ' ':
        sixes.append(np.NaN)
    else:
        sixes.append(i)
        
        season.append(2015)

In [7]:
len(matches[:131])

130

In [8]:
len(innings)

130

In [9]:

len(notouts)

130

In [10]:
len(runs)

130

In [11]:
len(hs)

130

In [12]:
len(Avge)

130

In [13]:
len(bf)

130

In [14]:
len(sr)

129

In [15]:
len(f)

129

In [16]:

len(h)

129

In [17]:
len(fours)

129

In [18]:
len(sixes)

129

In [19]:
df_2015=pd.DataFrame({
    'names':Name[:129],
    'matches':matches[:129],
    'innings':innings[:129],
    'notouts':notouts[:129],
    'runs':runs[:129],
    'balls':bf[:129],
    'high_score':hs[:129],
    'avg':Avge[:129],
    'strike_rate':sr,
    'fours':fours,
    'sixes':sixes,
    'fiftys':f,
    'hundreds':h,
    'season':season
})

In [20]:
df_2015

,names,matches,innings,notouts,runs,balls,high_score,avg,strike_rate,fours,sixes,fiftys,hundreds,season
0,\n\n\n\nDavid Warner\n\n\n\n,14,14,1,562,359,91,43.23,156.54,65,21,0,7,2015
1,\n\n\n\nLendl Simmons\n\n\n,13,13,1,540,441,71,45.00,122.44,56,21,0,6,2015
2,\n\n\n\nAjinkya Rahane\n\n\n,14,13,2,540,413,91,49.09,130.75,53,13,0,4,2015
3,\n\n\n\nAB de Villiers\n\n\n,16,14,3,513,293,133,46.63,175.08,60,22,1,2,2015
4,\n\n\n\nVirat Kohli\n\n\n,16,16,5,505,386,82,45.90,130.82,35,23,0,3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,\n\n\n\nVinay Kumar\n\n\n,13,3,2,0,2,0,0.00,0.00,0,0,0,0,2015
125,\n\n\n\nSunil Narine\n\n\n,8,1,1,0,1,0,0.00,0.00,0,0,0,0,2015
126,\n\n\n\nPat Cummins\n\n\n,3,1,0,0,2,0,0.00,0.00,0,0,0,0,2015
127,\n\n\n\nRajat Bhatia\n\n\n,2,1,0,0,1,0,0.00,0.00,0,0,0,0,2015
128,\n\n\n\nSreenath Aravind\n\n\n,5,1,1,0,1,0,0.00,0.00,0,0,0,0,2015

In [21]:
df_2015.to_csv('df_2015ipl.csv')