In [1]:
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import requests

In [2]:
page=requests.get("https://www.iplt20.com/stats/2019")

soup=BeautifulSoup(page.text)

In [3]:
columns = []
for i in soup.findAll('th')[:14]:
    columns.append(i.text)

In [4]:
columns

['POS',
 'Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Avg',
 'BF',
 'SR',
 '100',
 '50',
 '4s',
 '6s']

In [5]:
table=[]
for val in soup.findAll('td'):
    table.append(val.text)

In [6]:
Name=[]
matches=[]
innings=[]
notouts=[]
runs=[]
hs=[]
Avge=[]
bf=[]
sr=[]
f=[]
h=[]
fours=[]
sixes=[]

season = []

for val in table[1::14]:
       Name.append(val)
        

for i in table[2::14]:
        matches.append(i)
    
for i in table[3::14]:
       innings.append(i)

for i in table[4::14]:
        notouts.append(i)

for i in table[5::14]:
        runs.append(i)

for i in table[6::14]:
        hs.append(i)

for i in table[7::14]:
        Avge.append(i)

for i in table[8::14]:
        bf.append(i)

for i in table[9::14]:
        sr.append(i)

for i in table[10::14]:
        f.append(i)

for i in table[11::14]:
        h.append(i)

for i in table[12::14]:
        fours.append(i)

for i in table[13::14]:
    if i == ' ':
        sixes.append(np.NaN)
    else:
        sixes.append(i)
        
        season.append(2019)

In [7]:
len(Name)

145

In [8]:
len(matches)

145

In [9]:
len(innings)

145

In [10]:

len(notouts)

145

In [11]:
len(runs)

145

In [12]:
len(bf)

145

In [13]:
len(hs)

145

In [14]:
len(Avge)

145

In [15]:
len(sr)

144

In [16]:
len(fours)

144

In [17]:

len(sixes)

144

In [18]:
len(f)

144

In [19]:
len(h)

144

In [20]:
df_2019=pd.DataFrame({
    'names':Name[:144],
    'matches':matches[:144],
    'innings':innings[:144],
    'notouts':notouts[:144],
    'runs':runs[:144],
    'balls':bf[:144],
    'high_score':hs[:144],
    'avg':Avge[:144],
    'strike_rate':sr,
    'fours':fours,
    'sixes':sixes,
    'fiftys':f,
    'hundreds':h,
    'season':season
})

In [21]:
df_2019

,names,matches,innings,notouts,runs,balls,high_score,avg,strike_rate,fours,sixes,fiftys,hundreds,season
0,\n\n\n\nDavid Warner\n\n\n\n,12,12,2,692,481,100,69.20,143.86,57,21,1,8,2019
1,\n\n\n\nKL Rahul\n\n\n,14,14,3,593,438,100,53.90,135.38,49,25,1,6,2019
2,\n\n\n\nQuinton de Kock\n\n\n,16,16,1,529,398,81,35.26,132.91,45,25,0,4,2019
3,\n\n\n\nShikhar Dhawan\n\n\n,16,16,1,521,384,97,34.73,135.67,64,11,0,5,2019
4,\n\n\n\nAndre Russell\n\n\n,14,13,4,510,249,80,56.66,204.81,31,52,0,4,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,\n\n\n\nJoe Denly\n\n\n,1,1,0,0,1,0,0.00,0.00,0,0,0,0,2019
140,\n\n\n\nKhaleel Ahmed\n\n\n,9,1,0,0,1,0,0.00,0.00,0,0,0,0,2019
141,\n\n\n\nSam Billings\n\n\n,1,1,0,0,4,0,0.00,0.00,0,0,0,0,2019
142,\n\n\n\nPrithvi Raj Yarra\n\n\n,2,1,1,0,1,0,0.00,0.00,0,0,0,0,2019
143,\n\n\n\nMujeeb Ur Rahman\n\n\n,5,3,2,0,4,0,0.00,0.00,0,0,0,0,2019

In [22]:
df_2019.to_csv('df_2019ipl.csv')