In [1]:
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import requests

In [2]:
page=requests.get("https://www.iplt20.com/stats/2018")

soup=BeautifulSoup(page.text)

In [3]:
columns = []
for i in soup.findAll('th')[:14]:
    columns.append(i.text)

In [4]:
columns

['POS',
 'Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Avg',
 'BF',
 'SR',
 '100',
 '50',
 '4s',
 '6s']

In [5]:
table=[]
for val in soup.findAll('td'):
    table.append(val.text)

In [6]:
Name=[]
matches=[]
innings=[]
notouts=[]
runs=[]
hs=[]
Avge=[]
bf=[]
sr=[]
f=[]
h=[]
fours=[]
sixes=[]

season = []

for val in table[1::14]:
       Name.append(val)
        

for i in table[2::14]:
        matches.append(i)
    
for i in table[3::14]:
       innings.append(i)

for i in table[4::14]:
        notouts.append(i)

for i in table[5::14]:
        runs.append(i)

for i in table[6::14]:
        hs.append(i)

for i in table[7::14]:
        Avge.append(i)

for i in table[8::14]:
        bf.append(i)

for i in table[9::14]:
        sr.append(i)

for i in table[10::14]:
        f.append(i)

for i in table[11::14]:
        h.append(i)

for i in table[12::14]:
        fours.append(i)

for i in table[13::14]:
    if i == ' ':
        sixes.append(np.NaN)
    else:
        sixes.append(i)
        
        season.append(2018)

In [7]:
len(Name)

139

In [8]:
len(matches)

139

In [9]:
len(innings)

139

In [10]:

len(notouts)

139

In [11]:
len(runs)

139

In [12]:
len(bf)

139

In [13]:
len(hs)

139

In [14]:
len(Avge)

139

In [15]:
len(sr)

138

In [16]:
len(fours)

138

In [17]:

len(sixes)

138

In [18]:
len(f)

138

In [19]:
len(h)

138

In [20]:
df_2018=pd.DataFrame({
    'names':Name[:138],
    'matches':matches[:138],
    'innings':innings[:138],
    'notouts':notouts[:138],
    'runs':runs[:138],
    'balls':bf[:138],
    'high_score':hs[:138],
    'avg':Avge[:138],
    'strike_rate':sr,
    'fours':fours,
    'sixes':sixes,
    'fiftys':f,
    'hundreds':h,
    'season':season
})

In [21]:
df_2018

,names,matches,innings,notouts,runs,balls,high_score,avg,strike_rate,fours,sixes,fiftys,hundreds,season
0,\n\n\n\nKane Williamson\n\n\n\n,17,17,3,735,516,84,52.50,142.44,64,28,0,8,2018
1,\n\n\n\nRishabh Pant\n\n\n,14,14,1,684,394,128,52.61,173.60,68,37,1,5,2018
2,\n\n\n\nKL Rahul\n\n\n,14,14,2,659,416,95,54.91,158.41,66,32,0,6,2018
3,\n\n\n\nAmbati Rayudu\n\n\n,16,16,2,602,402,100,43.00,149.75,53,34,1,3,2018
4,\n\n\n\nShane Watson\n\n\n,15,15,1,555,359,117,39.64,154.59,44,35,2,2,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,\n\n\n\nYuzvendra Chahal\n\n\n,14,1,1,0,4,0,0.00,0.00,0,0,0,0,2018
134,\n\n\n\nPradeep Sangwan\n\n\n,1,1,0,0,4,0,0.00,0.00,0,0,0,0,2018
135,\n\n\n\nSandeep Sharma\n\n\n,12,3,1,0,4,0,0.00,0.00,0,0,0,0,2018
136,\n\n\n\nRicky Bhui\n\n\n,1,1,0,0,5,0,0.00,0.00,0,0,0,0,2018
137,\n\n\n\nTrent Boult\n\n\n,14,1,0,0,2,0,0.00,0.00,0,0,0,0,2018

In [22]:
df_2018.to_csv('df_2018ipl.csv')