In [1]:
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
import requests

In [2]:
page=requests.get("https://www.iplt20.com/stats/2021")

soup=BeautifulSoup(page.text)

In [3]:
columns = []
for i in soup.findAll('th')[:14]:
    columns.append(i.text)

In [4]:
columns

['POS',
 'Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Avg',
 'BF',
 'SR',
 '100',
 '50',
 '4s',
 '6s']

In [5]:
table=[]
for val in soup.findAll('td'):
    table.append(val.text)

In [6]:
Name=[]
matches=[]
innings=[]
notouts=[]
runs=[]
hs=[]
Avge=[]
bf=[]
sr=[]
f=[]
h=[]
fours=[]
sixes=[]

season = []

for val in table[1::14]:
       Name.append(val)
        

for i in table[2::14]:
        matches.append(i)
    
for i in table[3::14]:
       innings.append(i)

for i in table[4::14]:
        notouts.append(i)

for i in table[5::14]:
        runs.append(i)

for i in table[6::14]:
        hs.append(i)

for i in table[7::14]:
        Avge.append(i)

for i in table[8::14]:
        bf.append(i)

for i in table[9::14]:
        sr.append(i)

for i in table[10::14]:
        f.append(i)

for i in table[11::14]:
        h.append(i)

for i in table[12::14]:
        fours.append(i)

for i in table[13::14]:
    if i == ' ':
        sixes.append(np.NaN)
    else:
        sixes.append(i)
        
        season.append(2021)

In [7]:
len(Name)

150

In [8]:
len(matches)

150

In [9]:
len(innings)

150

In [10]:

len(notouts)

150

In [11]:
len(runs)

150

In [12]:
len(bf)

150

In [13]:
len(hs)

150

In [14]:
len(Avge)

150

In [15]:
len(sr)

149

In [16]:
len(fours)

149

In [17]:

len(sixes)

149

In [18]:
len(f)

149

In [19]:
len(h)

149

In [20]:
df_2021=pd.DataFrame({
    'names':Name[:149],
    'matches':matches[:149],
    'innings':innings[:149],
    'notouts':notouts[:149],
    'runs':runs[:149],
    'balls':bf[:149],
    'high_score':hs[:149],
    'avg':Avge[:149],
    'strike_rate':sr,
    'fours':fours,
    'sixes':sixes,
    'fiftys':f,
    'hundreds':h,
    'season':season
})

In [21]:
df_2021

,names,matches,innings,notouts,runs,balls,high_score,avg,strike_rate,fours,sixes,fiftys,hundreds,season
0,\n\n\n\nRuturaj Gaikwad\n\n\n\n,16,16,2,635,466,101,45.35,136.26,64,23,1,4,2021
1,\n\n\n\nFaf du Plessis\n\n\n,16,16,2,633,458,95,45.21,138.20,60,23,0,6,2021
2,\n\n\n\nKL Rahul\n\n\n,13,13,3,626,451,98,62.60,138.80,48,30,0,6,2021
3,\n\n\n\nShikhar Dhawan\n\n\n,16,16,1,587,471,92,39.13,124.62,63,16,0,3,2021
4,\n\n\n\nGlenn Maxwell\n\n\n,15,14,2,513,356,78,42.75,144.10,48,21,0,6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,\n\n\n\nKuldip Yadav\n\n\n,1,1,1,0,4,0,0.00,0.00,0,0,0,0,2021
145,\n\n\n\nSarfaraz Khan\n\n\n,2,2,0,0,4,0,0.00,0.00,0,0,0,0,2021
146,\n\n\n\nAnuj Rawat\n\n\n,2,1,0,0,1,0,0.00,0.00,0,0,0,0,2021
147,\n\n\n\nJimmy Neesham\n\n\n,3,2,0,0,2,0,0.00,0.00,0,0,0,0,2021
148,\n\n\n\nPiyush Chawla\n\n\n,1,1,0,0,2,0,0.00,0.00,0,0,0,0,2021

In [22]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   names        149 non-null    object
 1   matches      149 non-null    object
 2   innings      149 non-null    object
 3   notouts      149 non-null    object
 4   runs         149 non-null    object
 5   balls        149 non-null    object
 6   high_score   149 non-null    object
 7   avg          149 non-null    object
 8   strike_rate  149 non-null    object
 9   fours        149 non-null    object
 10  sixes        149 non-null    object
 11  fiftys       149 non-null    object
 12  hundreds     149 non-null    object
 13  season       149 non-null    int64
dtypes: int64(1), object(13)
memory usage: 16.4+ KB

In [23]:
df_2021.to_csv('df_2021ipl.csv')